<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owners page</title>
</head>
<body>
<h1 th:text="'Owners List'">Index page</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px">ID</th>
        <th style="width: 150px">First Name</th>
        <th style="width: 150px">Last name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.getId()}">1</td>
        <td th:text="${owner.getFirstname()}">Urke</td>
        <td th:text="${owner.getLastname()}">Smeker</td>

    </tr>
    </tbody>
</table>
</body>
</html>